<mat-toolbar color="primary" class="header-toolbar">
  <span class="logo">VEGEFOODS</span>
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/dashboard" routerLinkActive="active-link">Home</a>
    <a mat-tab-link routerLink="/checkout" routerLinkActive="active-link" *ngIf="isAuthenticated">Checkout</a>
  </nav>
  <span class="spacer"></span>

  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/auth" routerLinkActive="active-link" *ngIf="!isAuthenticated">Log In</a>
    <a mat-button *ngIf="isAuthenticated" [matMenuTriggerFor]="accountMenu" aria-label="Account">
      <mat-icon>account_circle</mat-icon>
      <span *ngIf="authService.currentUser$ | async as currentUser">{{ currentUser.username }}</span>
    </a>

    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="onLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>

    <a mat-button [matMenuTriggerFor]="cartMenu" aria-label="Cart">
      <mat-icon>shopping_cart</mat-icon>
      <span class="cart-badge">{{ totalProductsInCart }}</span>
    </a>

    <mat-menu #cartMenu="matMenu" class="cart-menu">
      <ng-container *ngIf="productsInCart.length > 0; else emptyCart">
        <mat-list style="max-height: 320px; overflow-y: auto;">
          <mat-list-item *ngFor="let product of productsInCart">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="d-flex">
              <div>
                <span matListItemTitle>{{ product.name }}</span>
                <span matListItemLine>{{ product.quantity }} x {{ product.price | currency }}</span>
                <span matListItemLine>{{ product.price * product.quantity | currency }}</span>
              </div>
              <img matListAvatar [src]="product.image" alt="{{ product.name }}" />
            </div>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <div class="cart-summary">
          <div>Total Cost: {{ totalCost | currency }}</div>
          <div class="my-1">
            <button class="mr-1" mat-raised-button color="primary" routerLink="/cart">View Cart</button>
            <button mat-raised-button color="primary" routerLink="/checkout">Checkout</button>
          </div>
        </div>
      </ng-container>
      <ng-template #emptyCart>
        <div class="empty-cart">
          <p>Your cart is empty.</p>
        </div>
      </ng-template>
    </mat-menu>
  </nav>
</mat-toolbar>