<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Vegefoods</h4>
                <p>
                    Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.
                </p>
            </div>
            <div class="col">
                <h4>Menu</h4>
                <ul>
                    <li><a href="#">Shop</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Journal</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Help</h4>
                <ul>
                    <li><a href="#">Shipping Information</a></li>
                    <li><a href="#">Returns & Exchange</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col">
                <h4>Have a Questions?</h4>
                <ul class="contact-info">
                    <li><mat-icon>location_on</mat-icon> 203 Fake St. Mountain View, San Francisco, California, USA</li>
                    <li><mat-icon>phone</mat-icon> +2 392 3929 210</li>
                    <li><mat-icon>email</mat-icon> info&#64;yourdomain.com</li>
                </ul>
            </div>
        </div>
    </div>
</footer>