<app-products-table [dataSource]="dataSource" [actionButtonTemplate]="actionButtonTemplate" [quantityInputTemplate]="quantityInputTemplate">
    <ng-template #actionButtonTemplate let-element>
        <button mat-icon-button color="warn" (click)="removeFromCart(element.id)">
            <mat-icon>close</mat-icon>
        </button>
    </ng-template>
    
    <ng-template #quantityInputTemplate let-element>
        <mat-form-field>
            <input matInput [(ngModel)]="element.quantity" type="number" min="1" max="100" (input)="validateAndUpdateQuantity(element)">
        </mat-form-field>
        </ng-template>
</app-products-table>
<div fxLayout="column">
    <app-cart-totals [subtotal]="subtotal" [deliveryCost]="deliveryCost" [discount]="discount" [totalCost]="totalCost" />
    <div class="my-4 d-flex" fxLayoutAlign="space-between">
        <a mat-raised-button color="primary" [routerLink]="['/dashboard']">Continue shopping</a>
        <button mat-raised-button color="primary" (click)="proceedToCheckout()">Proceed to Checkout</button>
    </div>
</div>
